$tap-size: 48px;

nav a, summary, button {
  box-sizing: border-box;
  min-width: $tap-size;
  min-height: $tap-size;
  display: flex;
  align-items: center;
}

.side-nav {
  max-width: 20rem;
}

.hier-nav-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: 0;
    border-top: 1px solid $background-color;
    border-bottom: 1px solid $background-color;
    
    summary {
      width:  100%;
      font-size: 1em;
      font-weight: bold;
      padding: 0 .25rem;
    }

    ul {
      margin-left: 0;
      list-style: none;
      max-width: 20em;
      margin: auto;

      > li {

        > a {
          padding: 0 .5rem 0 2rem;
        }
      }
    }
  }
}